.contentContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(215, 215, 215);
}

.userimg
{
    all: unset;
    width: 50vw;
    height: auto;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.userInfo, .userpost
{
    margin: 1em;
}

.userInfo
{
    margin-top: 2em;
}

@media (min-width: 0) and (max-width: 768px)
{
    .contentContainer
    {
        all: unset;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid rgb(215, 215, 215);
    }

    .userimg
    {
        width: 80vw;
        height: auto;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    main 
    {
        display: flex;
        justify-content: center;
    }
}