{% extends "base.html" %}
{% block title %}home{% endblock %} 
{% block home_active %}active{% endblock %}
{% block content %} 
    {% for post in posts%}
        <div class="post" onclick="location.href='{{url_for('single_post', id=post.id)}}';" style="cursor: pointer;">
            <div class="contentContainer">
                <img src="{{ url_for('static', filename=post.postpic) }}" alt="frog" class="userimg">
                <div class="userpost">
                    <div class="userInfo">
                        <img src="{{ url_for('static', filename=post.profilepic) }}" alt="profile picture" class="profilePicture">
                        <h4 class="username">@{{ post.username }}</h4>
                    </div>            
                    <p>{{ post.text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    <button id="newPost" class="btn btn-primary fixed-bottom float-right">+</button>
{% endblock %}